i-my-traq.trap.show {
    handle /api/* {
        reverse_proxy backend:3000
    }
    handle /.well-known/* {
        reverse_proxy backend:3000
    }
    handle {
        reverse_proxy frontend:80
    }
}
